body {
    font-family: 'Arial', sans-serif;
    background-color: #ffeeee;
    color: #1e1e1e;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3b332f;
    color: #f5de9c;
    text-align: center;
    padding: 1rem;
    font-family: 'Orbitron', sans-serif;
  }
  
  main {
    padding: 2rem;
  }
  
  .top-half {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .dropdowns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .bottom-half {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .facility-minerals,
  .space-cart,
  .colony-inventory {
    background-color: #f2f8f6;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 100%;
  }
  
  .facility-minerals form,
  .colony-inventory ul {
    margin-top: 0.5rem;
  }

 
  
  button#submission-button {
    background-color: deeppink;
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
  }
  
  footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
    margin-top: 3rem;
    color: #333;
  }